<%-include("partials/header")%>


<div class="main-block">
	<h1>Registration</h1>
	<form action="/register" method="POST">
	  <hr>
	  <input type="text" name="username" id="name" placeholder="Username" required/>
	  <input type="password" name="password" id="name" placeholder="Password" required/>
	  <hr>
	  <hr>
	  <div>
		<button>Submit</button>
	  </div>
	</form>
  </div>